:root {
    /* colors */
    --background: #FAFAFA;
    --primary: #111111;
    --secondary: #d3d3d3;
    --tertiary: #d3d3d34f;
    --accent2: #6fbaec;
    --accent: 56, 110, 246; /* #386ef6 */
    --definition: 56, 110, 246; /* #782ED3 */
    --theorem: 233, 84, 15; /* e9540f */
    --warning: #d10808;

    /* typography */
    --fontPrimary: "Instrument Serif", Cambria, serif;
    --header-margin: 0 0 2rem 0;
    --fontSecondary: "Instrument Sans", Helvetica, sans-serif;
    --block-margin: 1rem;
    --bodySize: 2.35rem;
    --headerSize: 10rem;
    --tiny: 1.85rem;
    --margin: 6rem;

    /* misc */
    --code-font: monospace;
    --link-color: rgba(var(--accent));
    --link-color-dark: rgba(var(--accent), .85);
    --link-color-hover: rgba(var(--accent), .65);
    --selection-backgroundColor: #0579c8;
    --selection-color: #FAFAFA;
    --overlay-element-bg-color: 240, 240, 240;
    --overlay-element-fg-color: 0, 0, 0;
    --fadeOut: 35%;
}

/* slides ----------------------------------------------------------------------------------------------------------- */

/* reveal */
.reveal-viewport { background: var(--background); }
.reveal {
    font-family: var(--fontSecondary);
    font-size: var(--bodySize);
    color: var(--primary);
    font-weight: 400;
    text-align: left;
} .reveal ::selection {
    color: var(--selection-color);
    background: var(--selection-backgroundColor);
    text-shadow: none;
}

/* slides */
.slides section, .slides section>section {
    line-height: 135%;
    font-weight: inherit;
    height: 100%;
    display: flex !important;
    flex-flow: column !important;
    justify-content: center;
    gap: 2rem;
}
.reveal .slides { margin: 0; }
.reveal .slides > section { padding: var(--margin); box-sizing: border-box; }
.reveal .slides { margin-top: 0 !important; }

/* progress bar */
.reveal .progress {
    background: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.65);
    height: 6px;
} .reveal .progress span { background: rgba(0, 0, 0, 0.65); }
.reveal .progress::-moz-progress-bar { background: rgba(0, 0, 0, 0.65); }

/* typography ----------------------------------------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--primary);
    line-height: 135%;
    text-align: left;
} h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child { margin-bottom: 0 }

h1 { /*cover page title*/
    font-family: var(--fontPrimary);
    font-size: var(--headerSize);
    letter-spacing: -1.5%;
    line-height: 95%;
    color: var(--background);
    max-width: 15ch;
} h1 span { color: rgb(var(--accent)); }

h2 { /*slide titles*/
    font-family: var(--fontPrimary);
    font-size: calc(var(--headerSize) * 0.45);
    line-height: 115%;
    margin-bottom: 2rem;
}

h3 { /* callout/example titles */
    font-size: var(--bodySize);
    font-family: var(--fontSecondary);
    opacity: 35%;
    text-align: center;
}

h4 { /* subtitles */
    font-size: var(--bodySize);
    font-family: var(--fontSecondary);
    font-weight: 300;
    margin: -4rem 0 0 0;
}

h5 { /* slide subheaders */
    font-size: var(--bodySize);
    font-weight: 800;
    margin: 0;
}

h6 { /* extra notes/disclaimers with body text */
    font-family: var(--fontSecondary);
    font-size: 2rem;
    font-style: italic;
    max-width: 50ch;
    line-height: 135%;
    color: rgba(0,0,0,0.5);
}

p {
    line-height: 135%;
    max-width: 40ch;
    text-align: left;
    font-size: var(--bodySize);
    margin: 0;
} p span { background-color: #ffde8385; }

strong, b { font-weight: 700 }
i, em { font-style: italic }
u { text-decoration: underline 3px; text-underline-offset: 5px; }

/* lists, tables, etc ----------------------------------------------------------------------------------------------------------- */

ol, dl, ul {
    margin: 0 0 0 1.35em;
    padding: 0;
    /* display: inline-block; */
    font-family: var(--fontSecondary);
    font-size: var(--bodySize);
    text-align: left;
} ol { list-style-type: decimal }
ul { list-style-type: square; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: disc; }
ul ul, ul ol, ol ol, ol ul {
    margin-left: 40px;
    display: block
} li {
    margin: 0 0 2rem 0;
    font-size: var(--bodySize);
    font-family: var(--fontSecondary);
} li p { margin: 0 0 1.65rem 0; }
ul ul li { margin: 0 0 1.65rem 0; }

dt { font-weight: 700 }
dd { margin-left: 40px }

q { font-style: italic }

pre {
    width: 90%;
    margin: var(--block-margin) auto;
    text-align: left;
    font-size: .55em;
    font-family: var(--code-font);
    word-wrap: break-word;
    line-height: 1.2em;
    display: block;
    position: relative;
    box-shadow: 0 5px 15px #00000026
} code {
    font-family: var(--code-font);
    text-transform: none;
    tab-size: 2
} pre code {
    word-wrap: normal;
    max-height: 400px;
    padding: 5px;
    display: block;
    overflow: auto
} .code-wrapper { white-space: normal }
.code-wrapper code { white-space: pre }

a {
    color: var(--primary);
    text-decoration: none;
    transition: color .15s
} a:hover {
    color: rgb(var(--accent));
    text-shadow: none;
    border: none
} p a {
    text-decoration: underline 4px rgb(var(--accent));
    text-underline-offset: 6px;
}

/* misc CSS ----------------------------------------------------------------------------------------------------------- */

img, video, iframe {
    margin: 0;
    padding: 0;
    display: block;
    max-width: 95%;
    max-height: 95%
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 -2px;
    border: 2px solid #acacac;
    border-radius: 0.5rem;
    overflow: hidden;
    width: fit-content;
} table th { font-weight: 700; border: 2px solid #acacac; }
table th, table td {
    text-align: left;
    border-bottom: 1px solid;
    padding: 0.85rem 1.35rem;
} table th[align=center], table td[align=center] { text-align: center }
table th[align=right], table td[align=right] { text-align: right }
table tbody tr:last-child th, table tbody tr:last-child td { border-bottom: none }
thead {background-color: var(--secondary);}
th>p {
    font-size: calc(var(--bodySize) * 0.85) !important;
    text-align: center;
    /* width: 100%; */
} tbody>tr>*:first-child {
    background-color: var(--tertiary);
}

sup { vertical-align: super; font-size: smaller }
sub { vertical-align: sub; font-size: smaller }

.roll span:after {
    color: #fff;
    background: var(--link-color-dark)
} .r-frame {
    border: 4px solid var(--primary);
    box-shadow: 0 0 10px #00000026
} a .r-frame {
    transition: all .15s linear
} a:hover .r-frame {
    border-color: var(--link-color);
    box-shadow: 0 0 20px #0000008c
} .controls { color: var(--link-color) }

/* section classes ----------------------------------------------------------------------------------------------------------- */

.bodySlide {
    height: 100%;
    margin: 0;
    /* background-color: rgba(0,0,0,.15); */
    display: flex;
    flex-flow: column;
    justify-content: flex-start !important;
    gap: var(--bodySize) !important;
}

.cover, .callout {
    text-align: center;
    font-size: calc(var(--bodySize) * 1.5);
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    gap: 3rem;
} .cover h2 {
    font-size: calc(var(--headerSize) * 0.8);
    letter-spacing: -1%;
    color: var(--background);
} .cover p {
    color: var(--background);
    opacity: 65%;
    font-size: var(--bodySize);
} .callout h2 { font-size: calc(var(--headerSize) * 0.8); }
.callout p {
    text-align: center;
    font-size: calc(var(--bodySize) * 1.15);
}

.titleSlide h4 {
    color: var(--secondary);
    font-weight: 200;
    opacity: 65%;
    margin: -3rem 0 1rem 0;
}

.endSlide h2 {
    color: var(--background);
    font-size: var(--headerSize);
} .endSlide h5, .endSlide p {
    color: var(--secondary);
    opacity: 85%;
    margin: 6rem 0;
}

/* labelled slides ----------------------------------------------------------------------------------------------------------- */

.definition, .theorem, .workbook {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1rem;
    font-size: calc(var(--bodySize) * 0.65);
    font-weight: 800;
    color: rgb(var(--definition));
    font-family: var(--fontSecondary);
    height: 3.5rem;
} .definition::before, .theorem::before {
    background-color: rgb(var(--definition));
    width: fit-content;
    padding: 0.85rem;
    content: 'Definition';
    color: var(--background);
    border-radius: 0.5rem;
    font-weight: 600;
    line-height: 1;
} .definition h4 { color: rgb(var(--definition)); }
.definitionText {
    height: calc(100% - 3.5rem);
    margin-bottom: 3.5rem;
    display: flex;
    flex-flow: column;
    gap: var(--bodySize);
    justify-content: center;
} .definitionText p {
    font-size: calc(var(--bodySize) * 1.5);
    max-width: 30ch;
}

.theorem { color: rgb(var(--theorem)); }
.theorem::before {
    content: 'Theorem';
    background-color: rgb(var(--theorem));
} .theorem h4 { color: var(--primary); }

.workbook { margin-bottom: 2rem; }
.workbook>*:first-child {
    border-radius: 0.5rem;
    background-color: var(--primary);
    width: fit-content;
    padding: 1rem;
    color: var(--background);
    font-family: var(--fontSecondary);
    font-weight: 400;
    line-height: 1;
    padding-right: 1.1rem;
} .workbook>*:first-child::before {
    content: 'Page';
    margin-right: 0.65rem;
} .workbook>*:nth-child(2) {
    color: var(--primary);
    font-family: var(--fontSecondary);
    font-weight: 800;
}

/* problem sets ----------------------------------------------------------------------------------------------------------- */

.problems { /* 2 by n grid to arrange problems */
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    row-gap: 1.35rem;
    column-gap: 2rem;
    margin: 2rem 0;
} .num { /* number, left side of .problems grid */
    background-color: rgba(var(--accent), 0.2);
    height: 6rem;
    width: 6rem;
    border-radius: 1.35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: rgb(var(--accent));
    font-size: calc(var(--bodySize) * 0.5);
    line-height: 1;
} .problems p {
    font-size: calc(var(--bodySize) * 0.5);
}

.answer { /* right side of .problems */
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 1.65rem;
} .answer>*:nth-child(1) { /* first child is problem */
    /* width: 135vw; */
    width: fit-content;
} .answer>*:nth-child(2) { /* second child is answer (blue + fragment) */
    color: rgb(var(--accent));
} .instructions {
    font-size: calc(var(--bodySize) * 1.5) !important;
    margin-top: 6rem;
}

.col3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8rem;
} .col3 ul li {
    margin-top: 0;
    margin-bottom: 0;
} .col4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 6rem;
} .col4 ul li {
    margin-top: 0;
    margin-bottom: 0;
}

.col2 { /* two columns for 2 .problems */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 2rem;
    margin: 1.15rem 0;
} .col2>.problems {
    row-gap: 8rem;
} .col2>.problems>.answer {
    width: 100%;
    flex-flow: column;
    font-size: calc(var(--bodySize) * 0.5);
    column-gap: 1.5rem;
    padding-top: 1.5rem;
    height: 6rem;
    gap: 2rem;
} .col2>.problems>.answer>*:nth-child(1) {
    width: fit-content;
} .col2>.problems p {
    font-size: calc(var(--bodySize) * 1.5);
    column-gap: 1.5rem;
}

/* fixed elements ----------------------------------------------------------------------------------------------------------- */

.footer {
    position: absolute;
    bottom: 2rem;
    left: var(--margin);
    z-index: 1000000;
} .footer::after {
    display: flex;
    flex-flow: row nowrap;
    font-size: calc(var(--bodySize) * 0.35);
    font-family: var(--fontSecondary);
    text-transform: uppercase;
    content: 'SJSU • MATH18A College Algebra • Fall 2026 • Lena Pang';
    color: rgba(138, 138, 138, 0.35);
    letter-spacing: 15%;
}

.home {
    position: absolute;
    left: 0;
    top: 2rem;
    height: 3rem;
    width: 3rem;
    z-index: 1000000;
    background-color: rgba(var(--accent), 0.65);
    border-radius: 0 2rem 2rem 0;
    overflow: hidden;
    color: var(--background);
    font-family: var(--fontSecondary);
    font-weight: 600;
    font-size: 1.15rem;
    transition: 0.25s ease-in-out;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    opacity: 65%;
} .home:hover {
    background-color: rgba(var(--accent), 1);
    transition: 0.25s ease-in-out;
    width: 13rem;
    opacity: 100%;
} .home::after {
    content: '<- \00a0 \00a0\00a0\00a0 Return to Index';
    width: fit-content;
    white-space: nowrap;
}

.next {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 90vh;
    background-color: var(--background);
    color: rgb(var(--accent));
    border-radius: 2rem;
    transition: 0.25s ease-in-out;
} .next h2, .next p {
    color: rgb(var(--accent));
} .next:hover {
    transform: translate(0.85rem, -0.85rem);
    transition: 0.25s ease-in-out;
    filter: drop-shadow(-1rem 1rem 2.5rem rgba(0,0,0,0.35));
}

/* boxes, layouts, and buttons ----------------------------------------------------------------------------------------------------------- */

.exampleBox { /* frame for examples */
    padding: 0 1.35rem;
    background-color: rgba(var(--definition), .15);
    color: rgb(var(--definition));
    width: fit-content;
    border-radius: 1.35rem;
    font-size: 3rem;
}

.examplesBelow { /* more examples below tag */
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    align-items: center;
    gap: 1rem;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    border-radius: 1rem;
    width: fit-content;
    color: rgb(var(--accent));
    text-align: left;
    font-size: 2rem;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 15%;
    font-weight: 300;
    border: 2px solid rgb(var(--accent));
} .examplesBelow::before {
    content: 'Examples ↓';
}

.imgBox {
    margin-right: 4rem;
    margin-left: 4rem;
    box-sizing: content-box;
    position: relative;
    height: 33.5rem;
    width: 33.5rem;
    background-position: center;
    background-repeat: none;
    background-size: contain;
}

.xyplane { /* inside .imgBox, below pointBox */
    display: block;
    height: 33.5rem;
    width: 33.5rem;
    /* background-color:#d1080827; */
    background-image: url("images/graph-empty.svg");
    background-size: contain;
    background-repeat: none;
} .gridTen {
    background-image: url("images/graph-gridTen.svg");
} .gridFive {
    background-image: url("images/graph-gridFive.svg");
} .gridThree {
    background-image: url("images/graph-gridThree.svg");
} .xaxis {
    right: 0;
    top: 50%;
    transform: translate(150%, -55%);
} .yaxis {
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);
} .caption {
    font-size: 2rem;
    color: rgba(0,0,0,0.35);
    white-space: nowrap;
}

.pointBox { /* inside .imgBox, over pointBox, contains points on .gridFive/*/
    display: block;
    position: absolute;
    /* background-color:#057ac83b; */
    width: 30rem;
    height: 30rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} .point {
    display: block;
    height: 1.15rem;
    width: 1.15rem;
    background-color: var(--primary);
    border-radius: 2rem;
} .point>p{
    display: block;
    height: 2rem;
    /* background-color: #c46fec48; */
    padding: 1.2rem 1.4rem;
    line-height: 100%;
    margin: 0;
    width: fit-content;
    font-size: 2rem;
} .point.offset>p { transform: translate(calc(1.15rem - 100%),calc(1.15rem - 100%)); }
.point.offsetX>p { transform: translateX(calc(1.15rem - 100%)); }
.point.offsetY>p { transform: translateY(calc(1.15rem - 100%)); }
.point.offsetYhalf>p { transform: translate(0.5rem, calc(1.15rem - 70%)); }
.point>p:nth-of-type(2) {
    display: block;
    margin-top: -1.45rem;
    color: rgb(var(--accent));
} .line {
    display: block;
    width: 115%;
    height: 5px;
    border-radius: 6px;
    background-color: var(--primary);
}

.stickerBox {
    height: 1px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    margin-top: -3rem;
} .sticker, .miniSticker {
    width: calc(var(--bodySize) * calc(0.23 * 39.3));
    height: calc(var(--bodySize) * calc(0.23 * 39));
    display: flex;
    margin-top: 3rem;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--bodySize) * 1.35);
    box-sizing: border-box;
    background-image: url(images/sticker.svg);
    background-repeat: none;
    background-size: contain;
    font-size: var(--bodySize);
    color: var(--background);
    font-weight: 900;
    text-align: center;
    transform: rotate(12deg);
    line-height: 105%;
} .sticker span, .miniSticker span {
    margin-top: 1.15rem;
    font-weight: 400;
    font-size: calc(var(--bodySize) * 0.85);
    line-height: 115%;
} .miniSticker {
    width: calc(var(--bodySize) * calc(0.16 * 39.3));
    height: calc(var(--bodySize) * calc(0.16 * 39));
    align-self: flex-start;
    white-space: nowrap;
} .miniSticker span {
    font-size: calc(var(--bodySize) * 0.75);
    margin: 0.2rem 0;
    white-space: nowrap;
}

.grid {
    display: grid;
    column-gap: 1.65rem;
    row-gap: 1rem;
} .grid > h5 {
    margin: 0;
}

/* layouts ----------------------------------------------------------------------------------------------------------- */

.imgBox>*, .pointBox>*, .centerBoth, .centerHor, .centerVer, .alignRight, .alignTop, .alignTL, .alignTR, .alignBR, .alignBL {
    display: block;
    position: absolute;
    white-space: nowrap;
}

.centerBoth {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} .centerHor { /* do not use with centerVer */
    left: 50%;
    transform: translateX(-50%);
} .centerVer { /* do not use with centerHor */
    top: 50%;
    transform: translateY(-50%);
} .alignRight {
    right: 0;
    text-align: left;
} .alignLeft {
    left: 0;
} .alignTop {
    top: 0;
} .below {
    left: 50%;
    bottom: 0;
    transform: translate(-50%,135%);
} .alignTL { transform: translate(-50%, -50%); }
.alignTR { transform: translate(50%, -50%); }
.alignBL { transform: translate(-50%, 50%); }
.alignBR { transform: translate(50%, 50%); }

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.15rem;
} .dashed, .dashedRed {
    width: 100%;
} .dashed>*, .dashedRed>* {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(var(--accent));
} .dashedRed>* {
    height: 10px;
    border-radius: 10px;
    background-color: var(--warning);
} .slideRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background: #0fd10862; */
    height: 100%;
}

.columnCentered {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
} .columnCentered > * {width: fit-content;}

.centerBox {
    display: flex;
    flex-flow: column;
    gap: var(--bodySize) !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255,0,0,.2); */
    margin-top: -8rem;
} .centerBox.removeMargin {
    margin-top: 0;
}

/* format overrides ----------------------------------------------------------------------------------------------------------- */

.blue { color: rgb(var(--accent)); }
.blueFill { background-color: rgb(var(--accent)); }
.bluish { color: var(--accent2); }
.bluishFill { background-color: var(--accent2); }

/* reveal.js ----------------------------------------------------------------------------------------------------------- */

/* .fade-in-then-semi-out { opacity: 2% !important; } */
.reveal .fragment.fade-in-then-semi-out.visible.current-fragment { opacity: 1; }

@media print { .backgrounds { background-color: var(--dark-color) } }

/* section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
    color: var(--background));
} */