:root {
    --background: #FAFAFA;
    --primary: #111111;
    --secondary: #bbbbbb;
    --accent: 56, 110, 246; /* #386ef6 */
    --definition: 120, 46, 211; /* #782ED3 */
    --theorem: 233, 84, 15; /* e9540f */
    --body-font: "Instrument Sans", Helvetica, sans-serif;
    --body-font-size: 4.5rem;
    --block-margin: 2rem;
    --header-margin: 0 0 3rem 0;
    --header-font: "Instrument Serif", Cambria, serif;
    --header-line-height: 110%;
    --header-font-weight: 400;
    --code-font: monospace;
    --link-color: #42affa;
    --link-color-dark: #149bf9;
    --link-color-hover: #5ebbfb;
    --selection-background-color: #0579c8;
    --selection-color: #FAFAFA;
    --overlay-element-bg-color: 240, 240, 240;
    --overlay-element-fg-color: 0, 0, 0;
}

.reveal-viewport {
    background: var(--background);
}

.reveal {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    color: var(--primary);
    font-weight: 400;
    text-align: left;
} .reveal ::selection {
    color: var(--selection-color);
    background: var(--selection-background-color);
    text-shadow: none;
}

.slides section, .slides section>section {
    line-height: 135%;
    font-weight: inherit;
    height: 100%;
    display: flex !important;
    flex-flow: column !important;
    justify-content: center;
    gap: 2rem;
    /* align-items: center; */
}

.reveal .slides {
    margin: 0;
} .reveal .slides > section {
    padding: 0;
} .reveal .slides {
    margin-top: 0 !important;
}

.reveal .progress {
    background: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.65);
    height: 6px;
} .reveal .progress span {
    background: rgba(0, 0, 0, 0.65);
} .reveal .progress::-moz-progress-bar {
    background: rgba(0, 0, 0, 0.65);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--primary);
    font-weight: var(--header-font-weight);
    line-height: var(--header-line-height);
    word-wrap: break-word;
    text-align: left;
} h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child { margin-bottom: 0 }

h1 { /*cover page title*/
    font-family: var(--header-font);
    font-size: 12rem;
    letter-spacing: -1%;
    color: var(--background);
} h1 span {
    color: rgb(var(--accent));
}

h2 { /*slide titles*/
    font-family: var(--header-font);
    font-size: 7rem;
}

h3 { /*cover page subtitles*/
    font-family: var(--body-font);
    font-size: 3rem;
    color: var(--secondary);
}

h4 { /* callout captions */
    font-size: 3.5rem;
    font-family: var(--body-font);
    opacity: 35%;
    text-align: center;
}

h5 {
    font-size: 4.5rem;
}

h6 {
    font-family: var(--body-font);
    font-size: 3rem;
    font-style: italic;
    opacity: 50%;
    max-width: 95vw;
    line-height: 135%;
}

p {
    line-height: 135%;
    max-width: 95vw;
    text-align: left;
    font-size: 4.5rem;
} p span {
    background-color: #FFDE83;
}

strong, b { font-weight: 700 }
i, em { font-style: italic }

img, video, iframe {
    max-width: 95%;
    max-height: 95%
}

ol, dl, ul {
    text-align: left;
    margin: 0 0 0 1em;
    display: inline-block
} ol {
    list-style-type: decimal
} ul {
    list-style-type: square;
} ul ul {
    list-style-type: square
} ul ul ul {
    list-style-type: circle
} ul ul, ul ol, ol ol, ol ul {
    margin-left: 40px;
    display: block
} li {
    margin: 3rem 0;
} li p {
    margin: 1.65rem 0;
}

dt {
    font-weight: 700
} dd {
    margin-left: 40px
}

blockquote {
    width: 70%;
    margin: var(--block-margin) auto;
    background: #ffffff0d;
    padding: 5px;
    font-style: italic;
    display: block;
    position: relative;
    box-shadow: 0 0 2px #0003
} blockquote p:first-child, blockquote p:last-child {
    display: inline-block
}

q {
    font-style: italic
}

pre {
    width: 90%;
    margin: var(--block-margin) auto;
    text-align: left;
    font-size: .55em;
    font-family: var(--code-font);
    word-wrap: break-word;
    line-height: 1.2em;
    display: block;
    position: relative;
    box-shadow: 0 5px 15px #00000026
} code {
    font-family: var(--code-font);
    text-transform: none;
    tab-size: 2
} pre code {
    word-wrap: normal;
    max-height: 400px;
    padding: 5px;
    display: block;
    overflow: auto
} .code-wrapper {
    white-space: normal
} .code-wrapper code {
    white-space: pre
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto
} table th {
    font-weight: 700
} table th, table td {
    text-align: left;
    border-bottom: 1px solid;
    padding: .2em .5em
} table th[align=center], table td[align=center] {
    text-align: center
} table th[align=right], table td[align=right] {
    text-align: right
} table tbody tr:last-child th, table tbody tr:last-child td {
    border-bottom: none
}

sup {
    vertical-align: super;
    font-size: smaller
}

sub {
    vertical-align: sub;
    font-size: smaller
}

small {
    vertical-align: top;
    font-size: .6em;
    line-height: 1.2em;
    display: inline-block
} small * {
    vertical-align: top
}

img {
    margin: var(--block-margin) 0
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color .15s
} a:hover {
    color: var(--link-color-hover);
    text-shadow: none;
    border: none
}

.roll span:after {
    color: #fff;
    background: var(--link-color-dark)
}

.r-frame {
    border: 4px solid var(--primary);
    box-shadow: 0 0 10px #00000026
} a .r-frame {
    transition: all .15s linear
} a:hover .r-frame {
    border-color: var(--link-color);
    box-shadow: 0 0 20px #0000008c
}

.controls {
    color: var(--link-color)
}

.bodySlide {
    justify-content: flex-start !important;
    gap: 4rem !important;
} .bodySlide p {
    font-size: 3.5rem;
}

.cover, .callout {
    text-align: center;
    font-size: 8rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    height: fit-content;
    gap: 2rem;
} .cover h2 {
    font-size: 10rem;
    color: var(--background);
} .cover p {
    color: var(--background);
    opacity: 65%;
    font-size: 3rem;
}

.definition, .theorem, .pairshare {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 1.5rem;
    font-family: var(--header-font);
    font-size: 4rem;
    color: rgb(var(--definition));
    position: fixed;
    height: 4.5rem;
    top: 0;
    left: 0;
} .definition::before, .theorem::before, .pairshare::before {
    content: 'Definition';
    background-color: rgb(var(--definition));
    width: fit-content;
    padding: 1rem;
    color: var(--background);
    border-radius: 0.5rem;
    font-family: var(--body-font);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1;
} .definition h4 {
    color: rgb(var(--definition));
} .def {
    font-size: 4.5rem;
    max-width: 65%;
}

.theorem {
    color: rgb(var(--theorem));
} .theorem::before {
    content: 'Theorem';
    background-color: rgb(var(--theorem));
} .theorem h4 {
    color: var(--primary);
}

.pairshare {
    color: var(--primary);
    font-family: var(--body-font);
    font-size: 2.5rem;
    font-weight: 600;
} .pairshare::before {
    content: 'Think Pair Share';
    background-color: rgba(var(--accent), 0.2);
    color: rgb(var(--accent));
}

.examples {
    display: block;
    margin: 2rem 0 -12rem 0;
    width: 100%;
    color: var(--primary);
    opacity: 35%;
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 15%;
    font-weight: 900;
} .examples::before {
    content: 'Examples';
} .examples::after {
    content: '';
    display: block;
    background-image: url(caret.svg);
    background-size: contain;
    height: 24px;
    width: 48px;
    margin-top: -0.5rem;
}

.problems, .problems2 {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: center;
    row-gap: 5rem;
    column-gap: 2rem;
} .problems2 {
    grid-template-columns: 6rem 1fr 6rem 1fr;
} .num {
    background-color: rgba(var(--accent), 0.2);
    height: 6rem;
    width: 6rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: rgb(var(--accent));
    font-size: 3.5rem;
    line-height: 1;
} .problems p {
    font-size: 3.5rem;
    max-width: 100%;
    width: 100%;
} .problems2 p {
    font-size: 3rem;
    column-gap: 1.5rem;
}

.footer {
    position: fixed;
    bottom: 2rem;
    left: 7%;
    z-index: 1000000;
}
.footer::after {
    display: flex;
    flex-flow: row nowrap;
    font-size: 0.85rem;
    font-family: var(--body-font);
    content: 'MATH-18A COLLEGE ALGEBRA • FALL 2026 • LENA PANG';
    color: rgba(138, 138, 138, 0.35);
    letter-spacing: 15%;
}

@media print {
    .backgrounds {
        background-color: var(--dark-color)
    }
}

/* section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
    color: var(--background));
} */