:root {
    --background: #FAFAFA;
    --primary: #111111;
    --secondary: #ececec;
    --accent: 56, 110, 246; /* #386ef6 */
    --definition: 120, 46, 211; /* #782ED3 */
    --theorem: 233, 84, 15; /* e9540f */
}

html, body {
    background-color: #FAFAFA;
    padding: 0;
    margin: 0;
    color: var(--primary);
    line-height: 135%;
    font-weight: 400;
    font-family: "Instrument Sans", Helvetica, sans-serif;
    margin-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: 135%;
    font-weight: 400;
    font-family: "Instrument Sans", Helvetica, sans-serif;
}

h1 {
    font-family: "Instrument Serif", Cambria, serif;
    font-size: 4rem;
    color: var(--background);
}

h2 { /* subtitle */
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 15%;
    color: var(--background);
}

h4 { /* chapter titles */
    font-size: 1.35rem;
    font-weight: 700;
    margin: 3rem 0 1rem 0;
    line-height: 1;
}

h5 { /* dates */
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 5%;
    font-weight: 600;
    text-align: right;
    color: rgb(var(--accent));
    /* opacity: 30%; */
    margin: 0 0.35rem 0 0;
    width: 100%;
    padding: 0.8rem 0 0 0;
} h5>b {
    font-weight: 900;
}

p {
    font-size: 1.15rem;
    font-weight: 400;
    margin: 0.85rem 0;
    padding: 0;
    max-width: 62ch;
}

span {
    font-weight: 600;
    color: rgb(var(--accent));
}

a {
    color: var(--primary);
    transition: 0.25s ease-in-out;
    text-decoration: underline 2px rgba(var(--accent), 0.5);
    text-underline-offset: 0.25rem;
} a:hover {
    color: rgb(var(--accent));
    text-decoration-color: rgba(var(--accent), 1);
    transition: 0.25s ease-in-out;
}

code {
    color: rgb(var(--accent));
}

ul {
    display: block;
    opacity: 50%;
    padding-left: 1.5rem;
    margin: 0;
    list-style-type: circle;
} li { margin: -0.2rem auto; }

/* CUSTOM ----------------------------------------------------------------------------------------------------------- */

.header {
    background-color: rgb(var(--accent));
    padding: 10rem max(calc(50% - 400px), 5%) 0 max(calc(50% - 400px), 5%);
    box-sizing: border-box;
}

.tabList {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 3rem;
} .tab {
    padding: 0.85rem;
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--background);
    transition: 0.15s ease-in-out;
    border-radius: 0.65rem 0.65rem 0 0;
    line-height: 100%;
} .tab:hover {
    background-color: rgba(255,255,255,0.15);
    cursor: pointer;
    transition: 0.15s ease-in-out;
} .tab.selected {
    background-color: var(--background);
    color: rgb(var(--accent));
    transition: 0.15s ease-in-out;
}

.content {
    width: min(90%, 800px);
    margin: 4rem auto;
    display: none;
    transition: 0.35s ease-in-out;
} .content.active {
    display: block;
    transition: 0.35s ease-in-out;
}

.box {
    background-color: var(--secondary);
    border-radius: 1.35rem;
    padding: 1.65rem 1.65rem 1.55rem 1.65rem;
    margin: 0.35rem 0;
    position: relative;
    font-weight: 500;
} .dates {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.85rem;
    row-gap: 0.35rem;
} .pdf { /* review sheet button */
    display: block;
    /* background-color: rgba(var(--accent), 0.15); */
    background-color: var(--primary);
    color: var(--background);
    width: fit-content;
    height: fit-content;
    padding: 0.85rem;
    font-size: 1.15rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 0.65rem;
    transition: 0.25s ease-in-out;
} .pdf:hover {
    background-color: rgb(var(--accent));
    transition: 0.25s ease-in-out;
} .box h4 {
    margin-top: 0;
} .box p {
    margin: 0.35rem 0;
} .dates p {
    line-height: 165%;
} .dates p a b {
    font-weight: 600;
} .pdf:before {
    font-weight: 900;
    font-size: 0.9rem;
    letter-spacing: 8%;
    opacity: 50%;
    content: 'PDF';
    margin-right: 0.5rem;
}

/* TOGGLE ----------------------------------------------------------------------------------------------------------- */

.switch { /* The switch - the box around the slider */
    position: absolute;
    right: 0;
    top: -48px;
    display: inline-block;
    height: 34px;
} .switch:before {
    content: 'show lesson descriptions';
    padding-right: 60px;
    font-size: 1.15rem;
    line-height: 185%;
    font-weight: 400;
} .switch input { /* Hide default HTML checkbox */
    opacity: 0;
    width: 0;
    height: 0;
}

.slider { /* The slider */
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  background-color: rgba(var(--accent), 0.35);
  -webkit-transition: .4s;
  transition: .4s;
  /* opacity: 35%; */
} .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(var(--accent),1);
  opacity: 100%;
} input:focus + .slider {
    box-shadow: 0 0 1px rgb(var(--accent));
} input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round { /* Rounded sliders */
  border-radius: 34px;
} .slider.round:before {
  border-radius: 50%;
}

.toggle {
    display: none;
    transition: 0.25s ease-in-out;
} input[type="checkbox"]:checked ~ .list {
    display: block !important;
} .visible {
    display: block;
    transition: 0.25s ease-in-out;
}